# Ignore virtual environment folder (commonly named venv, env, etc.)
venv/
env/
.venv/
.env/

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore pyenv and pipenv environments
.python-version
Pipfile.lock


Data/EMNIST
Data/FashionMNIST
Data/MNIST
Data/cifar-100-python
Data/cifar-100-python.tar.gz
Data/cifar-10-python